<%= bread_crumb("glyphicon glyphicon-retweet",t("tree_panel.change_log"),t("tree_panel.change_history")) %>

<div id="myTabContent1" class="tab-content padding-10">
	<div class="tab-pane fade in active" id="change_log_content">
    <%= render "change_histories/search_form" %>
    
    <div id="change_log_result">
      
    </div>
  </div>
</div>

