<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>Search Result </h2>
  </header>
  <div>
    <div class="widget-body no-padding">
    </div>
  </div>
</div>

