          <%= form_tag(search_front_money_path, :remote => true, :id => "search_form") do %>
            <fieldset>
              <div class="row">
                <div class="col-sm-6">
                  <%= render "shared/date_picker" %>
                </div>
              </div>
                
            <div class="row">
              <div class="col-sm-3">  
                <div class="form-actions">
                  <%= submit_tag t("button.search"),:id => "search", :class => "btn btn-primary", :remote => true  %>
                </div>
              </div>
            </div>
          <% end %>
          <br/>

          <script type="text/javascript">
            $("#search").click(function(){
              document.getElementById('flash_message').className = 'col-sm-3';
              document.getElementById('flash_message').style.marginLeft = '0px';
            });    
          </script>