<% if @exception_transaction == 'no'%>
  <h1><%= t("tree_panel.fund_out") %></h1>
  <%= render "shared/print_slip_panel" %>
  <%= render :partial =>"shared/slip_form", :locals => {:operation => "Withdraw"} %>
<% end %>

<script type='text/javascript'>
<% if @exception_transaction == 'no' %>
  history.pushState(history.state, document.title, "<%= balance_path + "?member_id=#{@player.member_id}&exception_transaction=#{@exception_transaction}" %>");
<% end %>
</script>
