<p><%= current_cage_location_str %></p>
<p><%= current_accounting_date_str %></p>
<p><%= current_shift_str %></p>
<p id="local_date_time"></p>

<%= javascript_include_tag "date.time.helper.js" %>

<script>
  function updateInfo() {
    var localDateTimeStr = getDateTimeStr();

    document.getElementById('local_date_time').innerHTML = localDateTimeStr;

    setTimeout(updateInfo, 1000);
  }

  updateInfo();
</script>
