<div id="button_set">
  <%= close_to_balance %>
  <% pop_up_btn :id => "confirm_fund", :str => t("button.confirm"), :form_id => "fund_request", :style => "confirm_fund_btn", :form_valid_function => "formValid()" do %>
    <p><%= t("deposit_withdrawal."+@operation+"_amt") %></p>
    <p style="font-size: 18px;" id="fund_amt"></p>
  <% end %>
</div>

<%= javascript_include_tag "format.number.js" %>
<script type='text/javascript'>
  function updateConfirmAmt(){
    amt = $('#player_transaction_amount').val()
    $('#pop_up_content #fund_amt').text(formatNum(amt));
  }

  function formValid(){
    amt = $('#player_transaction_amount').val().replace(/0+[.]?/,"");
    return amt != ""
  }

  function showError(){
    $("label.invisible_error").css('visibility', 'visible');
  }

  function hideError(){
    $("label.invisible_error").css('visibility', 'hidden');
  }

  $('#confirm_fund').click(function() {
    if( formValid()){
      hideError();
            
      updateConfirmAmt();
    } else {
      showError();
    }

    return false;
  });

</script>
