<div id="button_set">
  <%= button_tag t("button.confirm"), :id => "confirm"%>
  <%= button_to t("button.cancel"), balance_path + "?member_id=" + @player.member_id, :id => "cancel", :method => "get", :remote => true %>
</div>

<div id="confirm_fund_dialog" class="ui-dialog" style="height: 150px; width: 600px; top: 150px; left: 250px; display: none;">
  <div style="height: 60%; vertical-align: middle; padding: 30px;" align="center">
    <table width='80%'>
      <tr>
        <td width='60%'><p style="font-size: 18px;"><%= t("deposit_withdrawal."+@operation+"_amt")%>:</p></td>
        <td width='40%'><p style="font-size: 18px;" id="fund_amt"></p></td> 
      </tr>
    </table>
  </div>
  <div align="center">
    <table>
      <tr>
        <td><button id="confirm" class="btn btn-danger">Confirm</button></td>
        <td width='20%'></td>
        <td><button id="cancel" class="btn btn-default">Cancel</button></td>
      </tr>
    </table>
  </div>
</div>

<script type='text/javascript'>
  function updateConfirmAmt(){
    amt = $('#player_transaction_amount').val()
    $('#confirm_fund_dialog #fund_amt').text(amt);
  }

  $('#confirm').click(function() {
    $('#confirm_fund_dialog').css("display", "block");

    $('#confirm').attr('disabled','disabled');
    $('#cancel').attr('disabled','disabled');
    $('#player_transaction_amount').attr('readonly','readonly');
    updateConfirmAmt();

    return false;
  });

  $('#confirm_fund_dialog #confirm').click(function() {
    $('#fund_request').submit();

    return false;
  });


  $('#confirm_fund_dialog #cancel').click(function() {
    $('#confirm_fund_dialog').css("display", "none");

    $('#confirm').removeAttr('disabled');
    $('#cancel').removeAttr('disabled');
    $('#player_transaction_amount').removeAttr('readonly','readonly');

    return false;
  });

  function ValidateFloat(e, pnumber)
  {
    if (!/^\d+[.]?[\d\d]?$/.test(pnumber))
    {
        $(e).val(/^\d+[.]?\d\d/.exec($(e).val()));
    }
    return false;
  }
  
  function blockEnter(event){ 
    if (event.keyCode == 13) {
      return false;
    }
  }

  $('#fund_request').keydown(blockEnter);
</script>
