<div id="button_set">
  <%= close_to_balance %>
  <% pop_up_btn :id => "confirm_#{@operation}", :str => t("button.confirm"), :form_id => "fund_request", :style => "confirm_fund_btn", :form_valid_function => "formValid()" do %>
    <p><%= t("deposit_withdrawal."+@operation+"_amt") %></p>
    <p style="font-size: 18px;" id="fund_amt"></p>
    <% if @operation == 'fund_out' %>
    <form class="form-horizontal">
      <div class="form-group">
          <label for="inputPIN" class="col-sm-5 control-label"><strong>PIN:</strong></label>
          <div class="col-sm-3">
            <%= text_field_tag 'player_transaction[pin]', nil, :form => "fund_request", :type => "password" %>
          </div>
      </div>
    </form>
    <% end %>
  <% end %>
</div>

<%= javascript_include_tag "format.number.js" %>
<script type='text/javascript'>
  function updateConfirmAmt(){
    amt = $('#player_transaction_amount').val()
    $('#pop_up_content #fund_amt').text(formatNum(amt));
  }

  function formValid(){
    amt = $('#player_transaction_amount').val().replace(/0+[.]?/,"");
    return amt != ""
  }

  function showError(){
    $("label.invisible_error").css('visibility', 'visible');
  }

  function hideError(){
    $("label.invisible_error").css('visibility', 'hidden');
  }

  $('#confirm_fund_in, #confirm_fund_out').click(function() {
    if( formValid()){
      hideError();
            
      updateConfirmAmt();
    } else {
      showError();
    }

    return false;
  });

  $('#confirm_fund_out').click(function() {
    $('#pop_up_ui_dialog').height(190);
  });

</script>
