<span class="accounting_date_widget">Waiting for accounting date</span>

<script>
  $( document ).ready(function() {
    if ( !$.accounting_date_widget_loaded ) {
      $.accounting_date_widget_loaded = true;

      function updateAccountingDate() {
        var updateAccountingDateInterval = <%= update_accounting_date_interval %>;

        $.ajax({
          url: 'accounting_dates/current',
          type: 'get',
          success: function(data) {
            $('.accounting_date_widget').html(data);
          }
        });

        setTimeout(updateAccountingDate, updateAccountingDateInterval);
      };

      updateAccountingDate();
    }
  });
</script>
