<span class="shift_widget">Waiting for shift</span>

<script>
  function updateShift() {
    $.ajax({
      url: 'shifts/current',
      type: 'get',
      success: function(data) {
        $('.shift_widget').html(data);
      }
    });
  };

  updateShift();

  if ( !$.shift_widget_loaded ) {
    var updateShiftInterval = <%= update_shift_interval %>;
    setInterval(updateShift, updateShiftInterval);

    $.shift_widget_loaded = true;
  }
</script>
