<div class="station_widget"><%= default_station_widget_message %></div>

<%= javascript_include_tag "custom.effect.js" %>

<script>
  function updateStation() {
    terminal_id = getMachineId();
    if( terminal_id == "")
      return false 
    $.ajax({
      url: '/stations/current/' + terminal_id,
      type: 'get',
      success: function(data) {
        $('.station_widget').each(function(index, element) {
          var widget = $(element);
          var pre = widget.html();
          if ( pre == "<%= default_station_widget_message %>" )
            widget.html(data)
          else if ( pre != data && !widget.hasClass("animating") )
            animateUpdate(element, data);
        });
      }
    });
  };

  updateStation();

  if ( !$.station_widget_loaded ) {
    var updateStationInterval = <%= update_station_interval %>;
    setInterval(updateStation, updateStationInterval);

    $.station_widget_loaded = true;
  }
</script>
