<div id="location_name" class="station_widget"><%= default_station_widget_message %></div>

<%= javascript_include_tag "custom.effect.js" %>

<script>
  function updateStation() {
    $.ajax({
      url: '/machines/current_location/',
      type: 'get',
      success: function(data) {
        $('.station_widget').each(function(index, element) {
          var widget = $(element);
          var pre = widget.html();
          if ( pre == "<%= default_station_widget_message %>" )
            widget.html(data)
          else if ( pre != data && !widget.hasClass("animating") )
            animateUpdate(element, data);
        });
      }
    });
  };
  
    updateStation();
</script>
