<div class="accounting_date_widget"><%= default_accounting_date_widget_message %></div>

<%= javascript_include_tag "custom.effect.js" %>

<script>
  function updateAccountingDate() {
    $.ajax({
      url: '/accounting_dates/current',
      type: 'get',
      success: function(data) {
        $('.accounting_date_widget').each(function(index, element) {
          var widget = $(element);
          var pre = widget.html();
          if ( pre == "<%= default_accounting_date_widget_message %>" )
            widget.html(data)
          else if ( pre != data && !widget.is(':animated') )
            animateUpdate(element, data);
        });
      }
    });
  };

  updateAccountingDate();

  if ( !$.accounting_date_widget_loaded ) {
    var updateAccountingDateInterval = <%= update_accounting_date_interval %>;
    setInterval(updateAccountingDate, updateAccountingDateInterval);

    $.accounting_date_widget_loaded = true;
  }
</script>
