<span class="shift_widget">Waiting for shift</span>

<script>
  $( document ).ready(function() {
    if ( !$.shift_widget_loaded ) {
      $.shift_widget_loaded = true;

      function updateShift() {
        var updateShiftInterval = <%= update_shift_interval %>

        $.ajax({
          url: 'shifts/current',
          type: 'get',
          success: function(data) {
            $('.shift_widget').html(data);
          }
        });

        setTimeout(updateShift, updateShiftInterval);
      };

      updateShift();
    }
  });
</script>
