<style>
  td.header_info_padding {
    padding-top: 5px;
  }
</style>

<table width='300' style='font-weight: bold;'>
  <tr>
    <td class='header_info_padding'><%= current_cage_location_str %></td>
  </tr>
  <tr>
    <td class='header_info_padding'><%= render 'shared/current_accounting_date_widget' %> ( <%= render 'shared/current_shift_widget' %> )</td>
  </tr>
</table>
