<style>
  td.header_info_padding {
    padding-top: 3pt;
    padding-bottom: 1pt;
  }
</style>

<table width='300' style='font-weight: bold;'>
  <tr>
    <td colspan="4" class='header_info_padding'><%= render 'shared/current_station_widget' %></td>
  </tr>
  <tr>
    <td width='25%' class='header_info_padding'><%= render 'shared/current_accounting_date_widget' %></td>
    <td width='5%' class='header_info_padding'>,</td>
    <td width='30%' class='header_info_padding'><%= render 'shared/current_shift_widget' %></td>
    <td style='visibility: hidden;'>.</td>
  </tr>
</table>
