<style>
  td.header_info_padding {
    padding-top: 3pt;
    padding-bottom: 1pt;
  }
</style>

<table width='300' style='font-weight: bold;'>
  <tr>
    <td width='35%' class='header_info_padding'><%= t("general.zone_and_location") %>:</td>
    <td width='65%' class='header_info_padding'><%= render 'shared/current_location_widget' %></td>
  </tr>
  <tr>
    <td width='35%' class='header_info_padding'><%= render 'shared/current_accounting_date_widget' %></td>
    <td width='65%' class='header_info_padding'><%= render 'shared/current_shift_widget' %></td>
  </tr>
</table>
