<div id="main">
  <div id="content">
    <%= yield %>
  </div>

  <div id="flash_message" style="" data-message-type="">
    <%= render partial: "shared/flash_message", flash: flash %>
  </div>
</div>
