<%= bread_crumb("glyphicon glyphicon-retweet",t("tree_panel.audit"),t("tree_panel.lock_history")) %>

<%= javascript_include_tag "print.js" %>
<div id="myTabContent1" class="tab-content">
	<div class="tab-pane fade in active" id="lock_history_content">
    <%= render "lock_histories/search_form" %>
    
    <div id="lock_history_result">
      
    </div>
  </div>
</div>

