<div class="row">
  <label class="col-xs-3 box"><strong><%= t("balance_inquiry.account_balance")%>:</strong></label></td>
  <label class="col-xs-3 box"><%= label_tag :player_balance, to_formatted_display_amount_str(@player_balance), :id => "player_balance" %></label></td>
</div>
