<h1>Balance Enquiry</h1>

<div>
  <label>Player Name:</label>
  <label><%= @player.player_name%></label>
</div>
<div>
  <label>Player ID:</label>
  <label><%= @player.member_id%></label>
</div>
</br>
<div>
  <label><%= t("balance_inquiry.account_balance")%>:</label>
  <label><%= @player.balance%></label>
</div>
