<%= bread_crumb("fa fa-bank",t("tree_panel.fund_management"),t("tree_panel.balance")) %>

<%= render partial:"shared/player_info" , :locals => {:show_balance => true, :back_button => close_balance, :footer_path => "players/panel_footer"} %>
</div>
