<% if @operation == 'balance' %>
  <%= bread_crumb("fa fa-bank",t("tree_panel.fund_management"),t("tree_panel.balance")) %>
<% else %>
  <%= bread_crumb("glyphicon glyphicon-user",t("tree_panel.player_management"),t("tree_panel.profile")) %>
<% end %>
<% if @inactivate %>
  <% footer = render "players/inactivate_footer" %>
<% else %>
  <% footer = render "players/#{@operation}_footer" %>
<% end %>
<% content = render "players/balance_amt" %>
<%= render partial:"shared/player_info" , :locals => {:show_info => true, :show_balance => true, :content => content, :footer => footer, :show_remain => {:deposit => true, :withdraw => true}} %>
</div>
