<%= bread_crumb("glyphicon glyphicon-user",t("tree_panel.player_management"),t("tree_panel.profile")) %>

<% footer = render "players/profile_footer" %>
<% content = render "players/balance_amt" %>
<%= render partial:"shared/player_info" , :locals => {:show_info => true, :show_balance => true, :content => content, :footer => footer} %>
</div>
