<h1>Players#search</h1>
<%= form_tag do %>
<div>
  <label><%=  t("general.member_id") %></label>
  <%= text_field :player,:member_id %>
</div>
<div>
  <%= submit_tag t("button.search")%>
</div>
<% end %>
