//=require plugin/datatables/jquery.dataTables.min
//=require plugin/datatables/dataTables.bootstrap.min
$(document).ready(function() {
  // $.fn.dataTable.ext.errMode = 'throw';

  $('#datatable_col_reorder').dataTable({
  	"pageLength": 50
  	});

  $('#account_activity_datatable').dataTable({
    // "scrollX": true,
    "order": [[ 0, "desc"]],
    "serverSide": true,
    "pagingType": 'full_numbers',
    "pageLength": 50,
    "lengthMenu": [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
    "searching": false,
    "columns":[
      {"sortable": true, "width": "9%"},
      {"sortable": true},
      {"sortable": true},
      {"sortable": true},
      {"sortable": false},
      {"sortable": false, "width": "8%"},
      {"sortable": false},
      {"sortable": false},
      {"sortable": false},
      {"sortable": false},
      {"sortable": false, "class": "info"},
      {"sortable": false, "class": "info"},
      {"sortable": false, "class": "danger"},
      {"sortable": false, "class": "danger"},
      {"sortable": false, "class": "success"},
      {"sortable": false, "class": "success"}
    ],
    "ajax": {
      "url": $('#account_activity_datatable').data('source'),
      error: function (error) {
        $('#account_activity_datatable').find('tbody').append("<tr class='odd'><td valign='top' colspan='16' class='dataTables_empty'><%=I18n.t('account_activity.search_error')%></td></tr>");
      },
      "complete": function(jqXHR,status){
        if(status == 'success' || status=='notmodified'){
          var result = $.parseJSON(jqXHR.responseText);
          $("#start").val(result.start);
          $("#length").val(result.length);
          if(result.error_msg){
            $('.dataTables_empty').text(result.error_msg);
          }else{
            if(result.player_id && result.member_id){
              $("#search_member_id").html(result.member_id);
              $("#search_licensee").html(result.licensee_name);
              $("#search_date_range").html(result.start_time + " ~ " + result.end_time);
              $("#account_activity_search_info").css("display", "block");
            }
          }
        }
      }
    }
  });

  $('#player_balance_report_datatable').DataTable({
    "serverSide": true,
    "lengthMenu": [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
    "ajax": $('#player_balance_report_datatable').data('source'),
    "pagingType": 'full_numbers',
    "pageLength": 50,
    "columns":[
      {"sortable": true},
      {"sortable": true},
      {"sortable": false},
      {"sortable": false},
    ],
    "order": [0, 'desc'],
    "fnDrawCallback": function (oSettings) {
      pageSetUp();
    }
  });
})
