<%= bread_crumb("fa fa-bank",t("tree_panel.fund_management"),t("tree_panel.account_activity")) %>

<div id="myTabContent1" class="tab-content">
  <div class="tab-pane fade in active" id="account_activity_content">
    <%= render "account_activities/search_form" %>
    <div id="account_activities_result">
    </div>
  </div>
</div>
