<%= bread_crumb("glyphicon glyphicon-retweet",t("tree_panel.audit"),t("tree_panel.pin_history")) %>

<%= javascript_include_tag "print.js" %>

<div id="myTabContent1" class="tab-content">
	<div class="tab-pane fade in active" id="pin_history_content">
    	<%= render "pin_histories/search_form" %>
    	<div id="pin_history_result">
    </div>
  </div>
</div>

<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "pin_history" } %>
