<h1><%= t("tree_panel.fund_in")%></h1>
<%= render partial:"shared/player_info" , :locals => {:show_balance => false, :back_button => close_fund_request, :footer_path => "shared/confirm_fund_panel", :fund_request_path => fund_in_path} %>


<%= javascript_include_tag "validate.input.js" %>

<script>
  function blockEnter(event){ 
    if (event.keyCode == 13) {
      return false;
    }
  }

  $('form#fund_request').keydown(blockEnter);
</script>
